body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
	background-color: #FFFAFA;	
}

img {
   max-width: 10%;
   height: auto;
   object-fit:cover;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(255, 213, 229);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: rgb(255, 175, 212);
  }
  
  .active {
	background-color: #af4c82;
  }
	
	.cropped1 {
		
		max-width:auto;
		max-height:2%;
	}
		
	.cropped2 {
			width: 100px; 
			height: auto;
			}

